body {
    background-color:#ddd;
}
/*#features {
    padding: 40px 0;
    overflow: hidden;
}
.featured-tab {
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    padding: 40px 30px;
    margin: 40px 0 60px;
}
.featured-tab .nav-tabs {
    border-bottom: 0;
}
.featured-tab .tab-pane {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.featured-tab .tab-pane {
    padding-left: 25px;
    overflow: hidden;
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.featured-tab .tab-pane .pull-left {
    margin: 0 25px 10px 0;
}
.featured-tab .tab-pane .tab-image img {
    margin-bottom: 15px;
}
.featured-tab .tab-pane a {
    color: #ffdf00;
    margin-top: 15px;
}
a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}*/
.padding-top {
    padding-top: 100px;
}
#about-us .section-title {
    padding-bottom: 50px;
}
.section-title {
    font-weight: 300;
    padding-bottom: 110px;
}
.section-title h2 {
    display: inline-block;
    position: relative;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 22px;
    text-transform: capitalize;
    color: #000;
}
p {
    margin: 0 0 10px;
}
.about-content {
    font-weight: 300;
    max-width: 400px;
}
.about-content:hover i {
    -webkit-animation: astro-pulse 2000ms;
    -moz-animation: astro-pulse 2000ms;
    -o-animation: astro-pulse 2000ms;
    -ms-animation: astro-pulse 2000ms;
    animation: astro-pulse 2000ms;
    color: #ffe600;
}
.about-content i {
    color: #000000;
    font-size: 58px;
    margin-bottom: 15px;
    margin-top: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.about-content h6 {
    color: #515151;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 17px;
    text-transform: uppercase;
}


/*.team-member {
    position: relative;
    overflow: hidden;
}
.member-text {
    position: absolute;
    top: -100%;
    left: 0px;
    width: 100%;
    height: 0px;
    background-color: rgba(255, 230, 0, 0.9);
    opacity: 0.5;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.team-member h5, .team-member h6 {
    text-transform: uppercase;
    position: relative;
    top: 50%;
    color: #333;
    margin-top: -25px;
}
.team-member h5 {
    font-size: 20px;
    font-weight: 400;
}
.social-icons {
    position: relative;
    width: 100%;
    top: 50%;
    left: 0px;
    text-align: center;
}*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-icons li {
    display: inline-block;
    margin: 5px 10px;
}
a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.social-icons li a i {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.social-icons li a i:hover {
    color:#007ACC;
}

.imgWrap {
    display: inline-block;
    background-color: #fff;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.imgWrap img {
    opacity: 1;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.imgWrap:hover {
    background-color: #000;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

img:hover,
.imgWrap:hover img {
    opacity: 0.4;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.imgWrap:hover .overlay {
  opacity: 0.6;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image {
    width:100%;
    height:500px;
}
.text > h5 {
    font-size:25px;
}
.text > h6 {
    font-size:20px;
}
