body {
    background-image:url("http://cdn26.us1.fansshare.com/photo/wallpapershd/hd-soccer-backgrounds-hd-cool-cool-371554185.jpg");
    background-position:center top;
    background-repeat:repeat;
    opacity:0.8;
    height:607px;
}

* {
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    margin-left:5px !important;
    margin-right:5px !important;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 10%;
    border-radius: 50%;
}
#main-carousel {
    overflow: hidden;
}
.carousel {
    position: relative;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0px;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators .active {
    background-color: #ffe600;
    border: 1px solid #ffe600;
    height: 13px;
    margin: 1px 7px;
    width: 13px;
}
.carousel-indicators li {
    background-color: #9d9da4;
    border: 1px solid #9d9da4;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 13px;
    margin: 1px 7px;
    text-indent: -999px;
    width: 13px;
}
#main-carousel .item {
    background-size: cover;
    background-repeat: no-repeat;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, button[type=submit],button[type=buttpon] {
        width: 100%;
        margin-top: 0;
    }
}

